* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #7bdde4;
}

button {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: black;
}

main {
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #f8f0f0;
  width: 60vw;
  max-width: 700px;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.sub-title {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
}

.add-btn {
  display: block;
  margin: auto;
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
}

.section {
  height: 230px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  align-items: center;
  padding: 5px;
}

.warning {
  font-weight: 700;
  font-size: large;
  text-align: center;
}

.section > label {
  width: 90%;
  height: 100%;
  margin: 10px;
}

.text-section {
  padding-left: 20px;
  font-size: large;
}

.xp-section {
  grid-template-rows: repeat(4, auto);
  height: max-content;
}

.edit-icon {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}

.category-text {
  font-weight: bold;
}

label > input {
  width: 90%;
  height: 40%;
  margin-top: 5px;
  border-radius: 7px;
}

.form-btn {
  width: 100px;
  height: 30px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.general-btn {
  grid-column: 1/3;
  width: 100px;
  margin-bottom: 10px;
}

textarea {
  grid-column: 1/3;
  width: 90%;
  margin-bottom: 10px;
  padding-bottom: 40px;
}